In [23]:
import numpy as np
import pandas as pd
from PIL import Image
import shutil

In [14]:
data = pd.read_csv('data_preprocessed.csv').iloc[:,2:]
data

,age,full_path,filename
0,69.0,imdb/01/nm0000001_rm124825600_1899-5-10_1968.jpg,img_0.jpg
1,71.0,imdb/01/nm0000001_rm3343756032_1899-5-10_1970.jpg,img_1.jpg
2,69.0,imdb/01/nm0000001_rm577153792_1899-5-10_1968.jpg,img_2.jpg
3,69.0,imdb/01/nm0000001_rm946909184_1899-5-10_1968.jpg,img_3.jpg
4,69.0,imdb/01/nm0000001_rm980463616_1899-5-10_1968.jpg,img_4.jpg
...,...,...,...
507742,24.0,wiki/46/9996946_1943-11-01_1968.jpg,img_507742.jpg
507743,26.0,wiki/49/9996949_1937-04-17_1963.jpg,img_507743.jpg
507744,22.0,wiki/32/9997032_1947-07-30_1970.jpg,img_507744.jpg
507745,40.0,wiki/09/9998109_1972-12-27_2013.jpg,img_507745.jpg
507746,54.0,wiki/80/999980_1954-06-11_2008.jpg,img_507746.jpg

In [15]:
data = data.sample(frac=1)
data

,age,full_path,filename
5434,39.0,imdb/06/nm0000106_rm712232448_1975-2-22_2014.jpg,img_5434.jpg
148375,29.0,imdb/98/nm0004898_rm813341184_1973-7-20_2003.jpg,img_148375.jpg
486796,28.0,wiki/23/20628523_1986-06-26_2014.jpg,img_486796.jpg
230772,41.0,imdb/37/nm0719637_rm3609375744_1971-1-7_2012.jpg,img_230772.jpg
262100,36.0,imdb/57/nm0724757_rm2817169664_1967-11-23_2004...,img_262100.jpg
...,...,...,...
114237,21.0,imdb/94/nm0001494_rm2287308544_1961-11-4_1983.jpg,img_114237.jpg
313215,24.0,imdb/18/nm0544718_rm320051200_1983-2-27_2007.jpg,img_313215.jpg
144397,55.0,imdb/91/nm0004791_rm1231460864_1945-3-21_2000.jpg,img_144397.jpg
118916,43.0,imdb/02/nm0001602_rm3915299584_1967-10-5_2011.jpg,img_118916.jpg
144984,12.0,imdb/09/nm0004809_rm3204946688_1987-12-7_2000.jpg,img_144984.jpg

In [19]:
Nd = len(data)
Data_train = data.iloc[0:int(.6*Nd)]
Data_validation = data.iloc[int(.6*Nd):int(0.8*Nd)]
Data_test = data.iloc[int(0.8*Nd):Nd]

print(f"All Data included: {len(Data_train) + len(Data_validation) + len(Data_test) == len(data)}")

All Data included: True

In [28]:
def datacopy(df,dest_directory):
    for i in range(len(df)):
        jpgfile = f"data_preprocessed/{df.iloc[i]['filename']}"
        shutil.copy(jpgfile, dest_directory)

In [53]:
N_Train = 10000
N_Valid = 1000
N_Test = 1000
datacopy(Data_train.iloc[:N_Train], 'Training_data');
datacopy(Data_validation.iloc[:N_Valid], 'Validation_data');
datacopy(Data_test.iloc[:N_Test], 'Testing_data');

In [54]:
Data_train.iloc[:N_Train].to_csv('Data_train.csv')
Data_validation.iloc[:N_Valid].to_csv('Data_validation.csv')
Data_test.iloc[:N_Test].to_csv('Data_test.csv')

In [46]:
import os.path
def TestFileExists(df, dest_dir):
    for i in range(len(df)):
        jpgfile = f"{dest_dir}/{df.iloc[i]['filename']}"
        if not os.path.exists(jpgfile):
            print(jpgfile)

In [47]:
TestFileExists(Data_test, 'Testing_data')

In [48]:
TestFileExists(Data_validation, 'Validation_data')

In [49]:
TestFileExists(Data_train, 'Training_data')

In [52]:
Data_train

,age,full_path,filename
5434,39.0,imdb/06/nm0000106_rm712232448_1975-2-22_2014.jpg,img_5434.jpg
148375,29.0,imdb/98/nm0004898_rm813341184_1973-7-20_2003.jpg,img_148375.jpg
486796,28.0,wiki/23/20628523_1986-06-26_2014.jpg,img_486796.jpg
230772,41.0,imdb/37/nm0719637_rm3609375744_1971-1-7_2012.jpg,img_230772.jpg
262100,36.0,imdb/57/nm0724757_rm2817169664_1967-11-23_2004...,img_262100.jpg
...,...,...,...
399416,19.0,imdb/91/nm1675091_rm3932403200_1983-11-22_2003...,img_399416.jpg
191771,37.0,imdb/28/nm1304328_rm2045413120_1971-8-12_2009.jpg,img_191771.jpg
296849,11.0,imdb/28/nm1933128_rm3484203520_1999-10-15_2011...,img_296849.jpg
134175,47.0,imdb/71/nm0002071_rm1884093952_1967-7-16_2015.jpg,img_134175.jpg
166695,33.0,imdb/05/nm0005305_rm1363984896_1976-10-31_2010...,img_166695.jpg